body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #697fac;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.form {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

  .file-input {
    width: 100%;
  }
}
